.search-area{
    background-color: var(--clr-lavender);
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    height: 50vh;
}
.search-area__title{
    font-size: var(--size-6xl);
    font-weight: 500;
}
form{
    position: relative;
    width: 40%;
}
.search-area__searchbar{
    width: 100%;
    padding: 1.25rem;
    border-radius: 5px;
    border: 1px black solid;
    font-size: var(--size-lg);

}
.search-area__searchbar:focus{
    outline: none;
}
.search-area__btn{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
